#fullpage
    section(class="section s1")
        h1 Home Decoration
    section(class="section s2")
        h1 Different Styles
        .description
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa alias, voluptates aut corrupti dolorum est vel animi architecto sed nulla ullam ab. Dolorem nemo dolor nobis, consectetur rerum quam eaque?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, laboriosam.
        img(src="./img/chair2.png" alt="chair" class="chair")
        img(src="./img/chair3.png" alt="chair" class="chair")
        img(src="./img/chair1.png" alt="chair" class="chair")
    section(class="section s3")
        h1 Author
        p.author Ali Abdelbaky